@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="jumbotron">
    <h1>GCT Dashboard</h1>
    
</div>

<div class="row">
    <div class="col-md-9">
        <h2>Welcome to Global Cost Tracker</h2>
     
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
</div>