@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<div style=" border:1px solid gray;margin-top:10px;">
    <div class="row">
        &nbsp;
    </div>
    <div class="row" style="margin-left:20%;margin-top:5%">
        <div class="col-md-2">
            <a href="#" alt="Bulk Upload">
                <img src="~/Content/Images/upload.png" />
                <span>Bulk Upload</span>
            </a>
        </div>
        <div class="col-md-2">
            <a href="#" alt="Add New Item">
                <img src="~/Content/Images/AddEntry.png" />
                <span>Add Entry</span>
            </a>
        </div>
        <div class="col-md-2">
            <a href="#" alt="Add New Item">
                <img src="~/Content/Images/ViewEntry.png" />
                <span>View Entry</span>
            </a>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>