@{
    ViewBag.Title = "Home Page";
}

<div class="detailsPanel">
    <div class="row divtable">
        <div class="panelImage divcell"><img src="~/Images/homepage.jpg" width="100%" /></div>
        <div class="panelTextTitle divcell ">Welcome to MARSH Global Cost Tracker Portal</div>
    </div>
    <div class="row homePageText">
        <p>lorem ipsum test lorem ipsum tes -effective solution to support Free Zone member companies in providing employee benefits to comply with the Free Zone regulations, as well as the health insurance law of Dubai.</p>
        <p>Our health insurance solution has been designed with start-ups and SMEs in mind and provides comprehensive benefits at competitive pricing, generally available only to large corporates. It features a variety of tailor-made packages for DMCC Free Zone member companies to suit each and every business. It is DHA compliant and having partnered with a Participating Insurer, Daman, we can cater for our clients requirements for cover for lower and higher salary band employees under one policy through a single provider. We are also able to accommodate multiple plans within a single policy offering our clients flexibility when choosing the plan that suits their company’s needs.</p>
        <p>JLT’s values are embedded in our culture and drive the way in which we treat our clients.</p>
    </div>
   </div>